services:
  db:
    image: postgres:15
    container_name: smartfarm-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: smartfarm
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
       - "5432:5432"

  api: 
    build: .
    container_name: smartfarm-api
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3


volumes:
  postgres_data:


